.THIS.article-tile {
    width: 30%;
    height: 30%;
    transition: transform 0.2s;
    cursor: pointer;
}

.THIS.article-tile:hover {
    box-shadow: 3px 3px 3px grey;
    transform: scale(1.02);
}

.THIS.article-image {
    min-height: 200px;
    max-height: 200px;
    min-width: 200px;
    max-width: 200px;
}